.header {
}

.headerInner {
  position: relative;

  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  max-width: var(--logo-max-width);
}

.headerMenu {
}

.headerMenuList {
  display: flex;
  align-items: center;
}

.headerMenuItem {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;

  &:not(:last-child) {
    margin-right: 48px;
  }
}

.headerMenuLink {
  text-decoration: none;
  color: var(--text-primary);
}

.headerMenuBtn {
  padding: 14px 32px;

  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: lowercase;

  background-color: transparent;
  border: 2px solid var(--border-primary);
  border-radius: var(--border-radius-btns-primary);
  cursor: pointer;
}

.portfolio {
  padding: 100px 0;
}

.portfolioTitle {
  margin-bottom: 60px;

  font-size: 56px;
  font-weight: 600;
  line-height: 1.3;
}

.portfolioWorks {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.portfolioBlock {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  padding: 40px;
  height: 320px;

  color: #fff;

  border-radius: 8px;

  grid-column: span 4;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(#000, 0.5);
  }

  &:first-child {
    grid-column: span 5;
  }

  &:nth-child(2) {
    grid-column: span 7;
  }
}

.portfolioBlockTitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolioTagsList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  margin-bottom: 15px;
}

.portfolioTag {
  padding: 4px 16px;

  color: rgba(#1A1A1A, 0.5);
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 600;

  background-color: rgba(#000, 0.6);
  border-radius: 120px;
  border: 1px solid rgba(#fff, 0.5);
}

.portfolioBlockContent {
  position: relative;
  z-index: 3;
}