.app-default-theme {
  // Colors
  --fill-primary: #F5F5F5;
  --fill-secondary: #000;

  --text-primary: rgba(0, 0, 0, 0.80);;
  --text-secondary: #000;

  --border-primary: rgba(0, 0, 0, 0.80);

  // Fonts
  --main-font: 'Manrope', sans-serif;

  // Other
  --border-radius-btns-primary: 8px;
}